.content {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
}
.parent-square {
    overflow: hidden;
}
.parent-square .square {
    margin-right: 40px;
    float: left;
    width: 100px;
    height: 100px;
    background-color: chocolate;
    text-align: center;
}

.parent-square .square > p {
    padding-top: 25%;
}

body {background-color: powderblue;}
h1   {color: blue;}